 <ul id="menu-menu" class="menu genesis-nav-menu">
                                        <!-- class = current-menu-item -->
                                        <li class="menu-item menu-item-home"><a href="http://weewx.com/" target=_blank>weewx</a></li>
                                        <li class="menu-item menu-item-home"><a href="/kolxiko">weewx original</a></li>
                                        #if $Extras.has_key('highcharts_enabled') and $Extras.highcharts_enabled == '1'
                                        <li class="menu-item menu-item-1"><a href="$relative_url/graphs" itemprop="url"><span itemprop="name">$obs.label.nav_graphs</span></a></li>
                                        #end if
                                        <li class="menu-item menu-item-2"><a href="$relative_url/records" itemprop="url"><span itemprop="name">$obs.label.nav_records</span></a></li>
                                        <li class="menu-item menu-item-3"><a href="$relative_url/reports" itemprop="url"><span itemprop="name">$obs.label.nav_reports</span></a></li>
                                        <li class="menu-item menu-item-4"><a href="$relative_url/about" itemprop="url"><span itemprop="name">$obs.label.nav_about</span></a></li>
                                        #if $Extras.has_key('theme_toggle_enabled') and $Extras.theme_toggle_enabled == '1'
                                        <label class="themeSwitchLabel">
                                            <input type="checkbox" id="themeSwitch" $themeSwitchChecked>
                                            <span class="slider round"></span>
                                        </label>
                                        #end if
                                    </ul>
